<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="icons8-duck-16" sizes="160x160" href="../static/assets/icons8-duck-16.png">
  <link href="./static/assets/favicon.ico" rel="icon">
  
  <title>About me!</title>  

<link href="./static/main.3da94fde.css" rel="stylesheet"></head>

<body>

<!-- Header content -->

<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      <nav class="navbar-fullscreen" id="navbar-middle">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="navbar-fullscreen-links">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./project.html" title="">My Projects</a></li>
          <li><a href="./about.html" title="">About me!</a></li>
          <li><a href="./contact.html" title="">Contact me</a></li>
        </ul>

        <div class="footer-container">
           
          <p><small>© Gonzalo Ruiz | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a></small></p>
          <p class="footer-share-icons">
              <a href="https://github.com/redex22" class="fa-icon" title="">
                  <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/gonzalo-ruiz-77a2a0224/" class="fa-icon" title="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
          </p>         
        </div>
      </nav> 
    </div>
  </nav>
</header>


<div class="section-container content-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-md-6">
                    <img src="./static/assets/images/img_profil.jpeg" class="img-responsive" alt=""> 
                </div>
                <div class="col-md-6">
                    <h1 class="h2">Gonzalo Ruiz</h1>
                    <p> Hello there! I consider myself as an eternal IT Student (you can never quit studies in this area haha) and a Python developer passionate about Test Automation and AI's; and of course Machine Learning. My long-term objective is to become a great AI developer in order to help the world (somehow) in the Life Sciences area but before that I want to generate a background of experience in the Test Automation area specifically in RPA and knowledge with my university.
                    I'm currently working in a full time job at TATA Consultancy Services in the Implementation area but I'm always in continous learning of others methodologies and technologies to help me in my career path.
                    With nothing else to say more than if you need my help or, even better, hire me don't hesitate on contacting me (you can do it on this webpage ;) ).
                    </p>
                    <li>
                        <a href="./static/assets/docs/English_CV_GonzaloRuiz_2022_3-1.pdf" title="My CV/Resumee" class="link-like-text">Check my CV/Resumee</a>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <ul class="navbar-nav nav">
          <li>
            <a href="./project.html" title="" class="project-nav left"><span class="project-number">02</span>My projects :D</a>
          </li>
        </ul>
        <ul class="navbar-nav nav navbar-right">
          <li>
            <a href="./contact.html" title="" class="project-nav right"><span class="project-number">04</span>Contact me :) </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      closeMenuBeforeGoingToPage();
      navActivePage();
    });
</script>
 <script type="text/javascript" src="./static/main.4c6e144e.js"></script></body>

</html>