<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="icons8-duck-16" sizes="160x160" href="../static/assets/icons8-duck-16.png">
  <link href="./static/assets/favicon.ico" rel="icon">
  
  <title>My projects :D</title>  

<link href="../static/main.3da94fde.css" rel="stylesheet"></head>

<body>

 <!-- Header content -->

<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      <nav class="navbar-fullscreen" id="navbar-middle">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="navbar-fullscreen-links">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./project.html" title="">My projects</a></li>
          <li><a href="./about.html" title="">About me!</a></li>
          <li><a href="./contact.html" title="">Contact me</a></li>
        </ul>

        <div class="footer-container">
           
          <p><small>© Gonzalo Ruiz | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a></small></p>
          <p class="footer-share-icons">
              <a href="https://github.com/redex22" class="fa-icon" title="">
                  <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/gonzalo-ruiz-77a2a0224/" class="fa-icon" title="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
          </p>
                       
        </div>


      </nav> 
    
    </div>
  </nav>
</header>


<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">01</span>This own webpage!</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>My own portfolio web</h3>
                <p>July, 2022</p>
              </div>

              <h4>Credits & Crew</h4>
              
              <ul class="list-unstyled">
                <a href="https://zerotomastery.io/courses/learn-python/" title="ZTM Course Page">Zero To Mastery Academy</a><br> 
                <a href="https://www.linkedin.com/in/gimena-martinez-543973207/" title="Gimena's linkedin">Gimena Martinez, Frontend Developer</a><br>
                <a href="https://www.linkedin.com/in/gonzalo-ruiz-77a2a0224/" title="My linkedin">And me!</a>
              </ul>
              
          </div>
          <div class="col-md-8">
            <h3>How this project born and was created?</h3>
            <p>This webportfo is created based on one of the twelve challenge project giving by the Zero to Mastery Academy in their course of Python Developer. The challenge was to create a web portfolio by taking a html/css template from the internet (credits to them), adding Python code (with the old trusty Flask) into the backend side and a little (or big :D) customization of the page by ourselfs.</p>
            <p>With the help of my old and very very talented friend Gimena Martinez (Frontend Developer), I was able of doing some great customizations to the page and rebuild the template in a more personal way.
            I really think that the result is great and I hope you enjoy navigate through the page in the same way as I do.
            All the modifications, code and files are in my github page in case you want to use it or review it ;).
            See you soon and please watch my other projects below in the page.
            </p>
          </div>
        </div>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">02</span>Twitter Bot!</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>My Trivia Twitter Bot!</h3>
                <p>August, 2022</p>
              </div>

              <h4>Credits & Crew</h4>
              
              <ul class="list-unstyled">
                <a href="https://www.linkedin.com/in/gonzalo-ruiz-77a2a0224/" title="My linkedin">Just Me</a><br> 
                <a href="https://the-trivia-api.com/" title="Trivia API">And the resources of Trivia API and </a>
                <a href="https://www.heroku.com" title="Heroku">Heroku!</a>
              </ul>
              

              <p>Links to the code and twitter page:</p>
              <a href="https://github.com/redex22/PyTriviaBOT">Code on github</a><br>
              <a href="https://twitter.com/PyTriviaBOT">Twitter account</a>

          </div>
          <div class="col-md-8">
            <h3>How this project born and was created?</h3>
            <p>This Twitter Bot was conceived from the challenge of the Zero To Mastery Academy of making a bot, because I was so bored (I'm not gonna lie :D) and with the intention of showcasing my developing skills (and testing them, just a little).
            I have to specially mention my friends and girlfriend because they were the responsables of giving the Trivia purpose of the bot. Also, they were my main supporters and first testers of the app <3.</p>
            <p>From the beggining, my intention was to create different modules with different purposes; translations, Trivia questions/answers and a bot setup, and then mixing them in order to create a complete bot with different features.
            I started with the translation feature of the bot and for that I created a function which receives a string and returns the translation of into to spanish (to reach a lot of people across the world); thus I used the translate library (available on PyPi).
            After that, I continued with the development of the Trivia part and it was trickier than I thought (but also I solved it faster than I thought ;) ). I started with the idea of using a little of Web Scraping, with Beautiful Soup, from a page with Trivia questions but I discard that solution after finding a more reliable and long-term solution (the Trivia page doesn't have more than 155 questions) called Trivia API. From that API I was able to recollect a question/answers every time I call the class Trivia created and their methods.
            Finally, I finished my local job with the implementation and setup of the bot by the creation of distinct functions to give a format to the question/answer and sending the corresponding tweets. But not all were flowers, because I found a lot of user acceptance errors so I needed to change some things to end on my final solution: send the question and reply it with the answer.
            The post credit part of this story is the upload to Github (which I learned in previous courses and practicing here :D) and the deploy and schedule on Heroku (thanks to them btw).</p>
          </div>
        </div>
      
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">03</span>Selenium end to end test!</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Testing a webpage with Selenium & Python</h3>
                <p>July, 2022</p>
              </div>

              <h4>Credits & Crew</h4>
              
              <ul class="list-unstyled">
                <a href="https://www.udemy.com/course/learn-selenium-automation-in-easy-python-language/" title="Rahul Shetty Udemy course">Rahul Shetty course</a><br> 
                <a href="https://www.linkedin.com/in/gonzalo-ruiz-77a2a0224/" title="My linkedin">And me, of course :P!</a>
              </ul>
              <p>Links to the code:</p>
              <a href="https://github.com/redex22/e2eTestSelenium">Code on github</a><br>
              
          </div>
          <div class="col-md-8">
            <h3>How this project born and was created?</h3>
            <p>I recently found a passion for the Automation Testing area and, because of it, I started to study Selenium Webdriver (the widely used tool in the area) and mixing it with my already existing Python development skills. The Rahul Sheety course; Selenium Webdriver with Python + frameworks, was my compass and I learned a lot from it.</p>
            <p>This project is meant to be a showcase of my knowledge and skill of and with the tool.
            You will find my End to End testing code on my Github and in the next days I will be uploading my own framework :).</p>
          </div>
        </div>

          <div id="myCarousel" class="carousel slide projects-carousel">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-4">

                          <a href="https://www.google.com" title="" class="black-image-project-hover">
                            <img src="./static/assets/images/hacker-gcfb334873_640.jpg" alt="" class="img-responsive">
                          </a>
                          <div class="card-container card-container-lg">
                            <h4>01/03</h4>
                            <h3>Gonzalo Ruiz Webportfo</h3>
                            <p>The code that I used to make this page is now on Github :D. Click on the button below.</p>
                            <a href="https://www.google.com" title="" class="btn btn-default">Discover</a>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <a href="https://twitter.com/PyTriviaBOT" title="" class="black-image-project-hover">
                            <img src="./static/assets/images/twitter_profile_image.png" alt="" class="img-responsive">
                          </a>
                          <div class="card-container card-container-lg">
                            <h4>02/03</h4>
                            <h3>PyTriviaBot</h3>
                            <p>If you wanna replicate my twitter bot you can see their code on Github clicking on "Discover" or if you just wanna see it click on the image ;).</p>
                            <a href="https://github.com/redex22/PyTriviaBOT" title="" class="btn btn-default">Discover</a>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <a href="https://github.com/redex22/e2eTestSelenium" title="" class="black-image-project-hover">
                            <img src="./static/assets/images/selenium-python-349x349.jpg" alt="" class="img-responsive">
                          </a>
                          <div class="card-container card-container-lg">
                            <h4>03/03</h4>
                            <h3>End to end Selenium test</h3>
                            <p>If you want to see my code, recently leaked haha, click on the button below.</p>
                            <a href="https://github.com/redex22/e2eTestSelenium" title="" class="btn btn-default">Discover</a>
                          </div>
                        </div>
                        
                    </div>
                    <!--/row-->
                </div>
                
                <!-- This code is meant to be used in future added projects-->

                <!--/item-->
                <!--<div class="item">
                    <div class="row">
                      <div class="col-sm-4">
                        <a href="./work.html" class="black-image-project-hover">
                          <img src="./assets/images/work02-hover.jpg" alt="Image" class="img-responsive">
                        </a>
                        <div class="card-container">
                          <h4>004/006</h4>
                          <h3>Nulla scelerisque</h3>
                          <p>Proin pharetra metus id iaculis dignissim. In aliquet lorem ut ex ullamcorper.</p>
                          <a href="./work.html" class="btn btn-default">Discover</a>
                        </div>
                      </div>
                       <div class="col-sm-4">
                          <a href="./work.html" class="black-image-project-hover">
                            <img src="./static/assets/images/img-01.jpg" alt="Image" class="img-responsive">
                          </a>
                          <div class="card-container">
                            <h4>005/006</h4>
                            <h3>Fringilla sit amet</h3>
                            <p>Nulla facilisi. Vivamus vestibulum, elit in scelerisque ultricies.</p>
                            <a href="https://www.google.com" class="btn btn-default">Discover</a>
                          </div>
                        </div>
                        
                        <div class="col-sm-4">
                          <a href="./work.html" class="black-image-project-hover">
                            <img src="./assets/images/work03-hover.jpg" alt="Image" class="img-responsive">
                          </a>
                          <div class="card-container">
                            <h4>006/006</h4>
                            <h3>Vivamus vestibulum</h3>
                            <p>Fusce sed hendrerit augue, a rhoncus velit. In non lorem mattis, tempor sem sit amet.</p>
                            <a href="./work.html" class="btn btn-default">Discover</a>
                          </div>
                        </div>
                        
                    </div>-->
                    <!--/row-->
                </div>
                
                <!--/item-->
            </div>
            <!--/carousel-inner--> 
            <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹-</a>

            <a class="right carousel-control" href="#myCarousel" data-slide="next">-›</a>-->
         </div>



        <!--/myCarousel-->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <ul class="navbar-nav nav">
          <li>
            <a href="./index.html" title="" class="project-nav left"><span class="project-number">01</span>Main page</a>
          </li>
        </ul>

        <ul class="navbar-nav nav navbar-right">
          <li>
            <a href="./about.html" title="" class="project-nav right"><span class="project-number">03</span>About me!</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>
<script type="text/javascript" src="./main.70a66962.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      closeMenuBeforeGoingToPage();
      navActivePage();
    });
</script>
 <script type="text/javascript" src="./static/main.4c6e144e.js"></script></body>

</html>